<section class="my-4">
    <h2 class="h3 fw-semibold text-dark mb-4">Certifications &amp; Achievements</h2>
    <div class="row">
        {% include certification.html url = "https://www.credly.com/badges/0b406a82-1eae-42bd-83be-2a8bf5e5681c/public_url" image = "/assets/optimizely-mvp-technology.png" title = "Optimizely MVP Technology" subtitle = "PLATINUM" badge = "OMVP" classes = "" %}
        {% include certification.html url = "https://www.credly.com/badges/d2da2126-b2ce-4808-aae9-d8cb414793cb/public_url" image = "/assets/optimizely-paas-cms-certified-developer-core-compet.png" title = "Optimizely CMS PAAS Certified Developer" badge = "Developer" classes = "js-other-cert d-none d-sm-block" %}
        {% include certification.html url = "https://www.credly.com/badges/6122c72c-7e2b-485e-8708-a428624f20de/public_url" image = "/assets/optimizely-saas-cms-certified-administrator-2025.png" title = "Optimizely SaaS CMS Certified Administrator 2025" badge = "Administrator" classes = "js-other-cert d-none d-lg-block" %}
        {% include certification.html url = "https://www.credly.com/badges/11976de3-c4d1-446d-9f53-f0a2d9baa994/public_url" image = "/assets/optimizely-one-technical-architect-accredited.png" title = "Optimizely One Technical Architect Accredited" badge = "Architect" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/276e5459-7abb-41dd-8696-106c5a9f355a/public_url" image = "/assets/optimizely-opal-tools-certified-2025.png" title = "Optimizely Opal Tools Certified 2025" badge = "Developer" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/0bf63298-b659-49a1-9a23-2a17998eb0f1/public_url" image = "/assets/optimizely-opal-certified-administrator-2025.png" title = "Optimizely Opal Certified Administrator 2025" badge = "Administrator" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/834b3e2d-70fe-4a6e-a53e-d30a1bb61aea/public_url" image = "/assets/optimizely-opal-development-accredited.png" title = "Optimizely Opal Development Accredited" badge = "Developer" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/63e8f647-f911-448c-9349-a9745c6da7d8/public_url" image = "/assets/optimizely-opal-sales-accredited.png" title = "Optimizely Opal Partner Sales Accredited" badge = "Sales" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/70fdd279-b43d-4b00-8494-6a46cbfeae65/public_url" image = "/assets/optimizely-one-sales-accredited.png" title = "Optimizely Technical Sales Accredited" badge = "Sales" classes = "js-other-cert d-none" %}
        {% include certification.html url = "https://www.credly.com/badges/f7d726c0-5c0d-46c8-9f94-b11d47122a3d/public_url" image = "/assets/optimizely-one-sales-accredited.png" title = "Optimizely Sales Accredited" badge = "Sales" classes = "js-other-cert d-none" %}
    </div>
    
    <!-- Toggle Button -->
    <div class="text-center">
        <button class="btn btn-outline-primary align-middle" id="toggleCertifications">
            <span id="certToggleText">Show More Certifications</span>
            <i class="fa-solid fa-chevron-down ms-2" id="certToggleIcon"></i>
        </button>
    </div>
</section>