<section class="bg-light border-top border-bottom"
         data-package-id="Stott.Security.Optimizely"
         data-nuget-url="https://azuresearch-usnc.nuget.org/query?q=packageid:Stott.Security.Optimizely&amp;prerelease=false"
         data-optimizely-url="https://nuget.optimizely.com/v3/search?q=stott.security.optimizely">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">Stott Security</div>
                <div class="text-muted">For Optimizely CMS</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-nuget-downloads>Loading</div>
                <div class="text-muted">Downloads on nuget.org</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-optimizely-downloads>Loading</div>
                <div class="text-muted">Downloads on nuget.optimizely.com</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-package-version>Loading</div>
                <div class="text-muted">Current Version</div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/nuget-downloads.js" defer></script>
