<section class="bg-light border-top border-bottom">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">Stott Security</div>
                <div class="text-muted">For Optimizely CMS</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">96,500+</div>
                <div class="text-muted">Downloads on nuget.org</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">46,500+</div>
                <div class="text-muted">Downloads on nuget.optimizely.com</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">7.0.1</div>
                <div class="text-muted">Current Version</div>
            </div>
        </div>
    </div>
</section>
