<section class="bg-light border-top border-bottom"
         data-package-id="Stott.Optimizely.RobotsHandler"
         data-nuget-url="https://azuresearch-usnc.nuget.org/query?q=packageid:Stott.Optimizely.RobotsHandler&amp;prerelease=true"
         data-optimizely-url="https://nuget.optimizely.com/v3/search?q=stott.optimizely.robotshandler&amp;prerelease=true">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1">Stott Robots Handler</div>
                <div class="text-muted">For Optimizely CMS 12 & 13</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-nuget-downloads>369,000+</div>
                <div class="text-muted">Downloads on nuget.org</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-optimizely-downloads>174,000+</div>
                <div class="text-muted">Downloads on nuget.optimizely.com</div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2">
                <div class="h4 fw-bold text-dark mb-1" data-package-version>7.0.1</div>
                <div class="text-muted">Current Version</div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/nuget-downloads.js" defer></script>
