body { padding-top: 70px; }

pre.highlight {
  background: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

div.main-content img {
  max-width: 100%;
}

div.main-content table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.main-content table tr:nth-child(2n) {
  background-color: lightgray;
}

div.main-content table tbody tr:hover {
  background-color: lightblue;
}

div.main-content table thead tr {
  border-bottom: 1px solid darkgray;
}

img.home-profile {
  max-height: 40vh;
  min-height: 300px;
  border-radius: 30px;
}

img.credly-badge {
  height: 25vh;
}
