body { padding-top: 70px; }

div.main-content img {
  max-width: 100%;
}

div.main-content table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.main-content table tr:nth-child(2n) {
  background-color: lightgray;
}

div.main-content table tbody tr:hover {
  background-color: lightblue;
}

div.main-content table thead tr {
  border-bottom: 1px solid darkgray;
}

img.home-profile {
  max-height: 40vh;
  min-height: 300px;
  border-radius: 30px;
}

img.credly-badge {
  max-height: 25vh;
}

.fa-stack-2x {
  color: #000000;
}

blockquote {
  border-left: 4px solid gold !important;
  background-color: lightgoldenrodyellow !important;
  padding: 0.8em;
}

code{
  color: darkblue !important;
}

pre {
  border-left: 4px solid darkslategray !important;
  background-color: whitesmoke !important;
  padding: 1em; 
}

h2, h3, h4 {
  margin-top: 1em;
}

.heroBanner {
  margin-top: -20px;
}

.heroBanner img {
  max-height: 400px;
}

#toggleIcon {
  transition: transform 0.3s ease;
}

th > span {
  display: inline-block;
}