---
layout: default
---

<div class="container main-content">
    <section>
        {{ content }}
    </section>

{% if page.title == "Optimizely" %}
    <section class="my-4">
        <div class="row">
            <div class="col-6 col-md-3 my-3">
                <a href="https://www.credly.com/badges/7dd70b2a-5298-4ade-ba80-977b8fcbf18f/public_url" target="_blank">
                    <img src="/assets/optimizely-mvp-technology.png" alt="Optimizely Most Valuable Professional (Platinum, Technology)" class="credly-badge" />
                </a>
            </div>
            <div class="col-6 col-md-3 my-3">
                <a href="https://www.credly.com/badges/d2da2126-b2ce-4808-aae9-d8cb414793cb/public_url" target="_blank">
                    <img src="/assets/optimizely-paas-cms-certified-developer-core-compet.png" alt="Optimizely PaaS CMS Certified Developer - Core Competency 2025" class="credly-badge" />
                </a>
            </div>
            <div class="col-6 col-md-3 my-3">
                <a href="https://www.credly.com/badges/70fdd279-b43d-4b00-8494-6a46cbfeae65/public_url" target="_blank">
                    <img src="/assets/optimizely-one-technical-sales-accredited.png" alt="Optimizely One Technical Sales Accredited" class="credly-badge" />
                </a>
            </div>
            <div class="col-6 col-md-3 my-3">
                <a href="https://www.credly.com/badges/f7d726c0-5c0d-46c8-9f94-b11d47122a3d/public_url" target="_blank">
                    <img src="/assets/optimizely-one-sales-accredited.png" alt="Optimizely One Sales Accredited" class="credly-badge" />
                </a>
            </div>
        </div>
    </section>
{% endif %}
    <section>
        {% for post in site.posts %}
        {% if post.categories contains page.title %}
        <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Published: {{ post.date | date_to_long_string: "ordinal" }}</h6>
            <p class="card-text">{{ post.description }}</p>
            <a href="{{ post.url }}" class="btn btn-primary me-2">Read more</a>
            {% for category in post.categories %}
            <a href='/article/list/{{ category | downcase | replace: " ", "-" }}' class='btn btn-outline-secondary btn-sm me-2'>{{ category }}</a>
            {% endfor %}
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
</div>