---
layout: default
---

{{ content }}

{% if page.title == "Optimizely" %}
    <section class="my-2">
        <div class="row">
            <div class="col-6 text-end">
                <img src="/assets/optimizely-mvp-technology.png" alt="Optimizely Most Valuable Professional (Platinum, Technology)" style="height: 25vh;" />
            </div>
            <div class="col-6 text-start">
                <img src="/assets/optimizely-content-cloud-developer.png" alt="Optimizely Certified Content Cloud Developer" style="height: 25vh;" />
            </div>
        </div>
    </section>
{% endif %}
<section>
    {% for post in site.posts %}
    {% if post.categories contains page.title %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Published: {{ post.date | date_to_long_string: "ordinal" }}</h6>
        <p class="card-text">{{ post.description }}</p>
        <a href="{{ post.url }}" class="btn btn-primary me-2">Read more</a>
        {% for category in post.categories %}
          <a href="/article/list/{{ category | downcase }}" class="btn btn-outline-secondary btn-sm me-2">{{ category }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
