---
layout: default
---

<section class="my-2">
    <div class="row">
        <div class="col-12 text-center">
            <img src="/assets/mark_stott_roll_out_day.jpeg" alt="Mark Stott during the world wide rollout day at the Roller Girl Gang Summer Skate Picnic" style="height: 25vh; border-radius: 30px;" />
        </div>
    </div>
</section>

{{ content }}

<section>
    <h2>Latest Posts</h2>
    {% for post in site.posts limit:6 %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Published: {{ post.date | date_to_long_string: "ordinal" }}</h6>
            <p class="card-text">{{ post.description }}</p>
            <a href="{{ post.url }}" class="btn btn-primary me-2">Read more</a>
            {% for category in post.categories %}
                <a href="/article/list/{{ category | downcase }}" class="btn btn-outline-secondary btn-sm me-2">{{ category }}</a>
            {% endfor %}
        </div>
      </div>
    {% endfor %}
</section>
