---
layout: default
---

<section class="bg-dark text-white heroBanner">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-12 col-lg-5">
                <h1 class="display-4 fw-bold gap-4">Not Found</h1>
                <p class="text-light gap-4">Oh dear! It looks like the link you have followed does not exist any more. Why don’t you check out one of my latest blog posts instead?</p>
            </div>
            <div class="col-12 col-lg-7 d-none d-sm-inline">
                <div class="text-center">
                    <img src="/assets/mark_stott_beach.jpg" alt="Mark Stott on aberdeen beach, pretending to be lost" class="home-profile" />
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container main-content">

{{ content }}

<section>
    <h2>Latest Posts</h2>
    {% for post in site.posts limit:6 %}
        {% include promo.html article = post %}
    {% endfor %}
</section>
</div>