---
layout: default
---

<section class="bg-dark text-white heroBanner">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-12">
                <h1 class="display-4 fw-bold gap-4">{{ page.title }}</h1>
                <p class="text-light fst-italic gap-4">{{ page.description }}</p>
                <p class="text-light fst-italic gap-3"><i class="fa-solid fa-calendar me-2"></i>Published: {{ page.date | date_to_long_string: "ordinal" }}</p>
            </div>
        </div>
    </div>
</section>

<div class="container main-content mt-5">
  <article>
      {{ content }}

      <div>
          {% for category in page.categories %}
              <a href='/article/list/{{ category | downcase | replace: " ", "-" }}' class='btn btn-outline-primary'>{{ category }}</a>
          {% endfor %}
      </div>
  </article>

  <!-- Author Section -->
  <div class="author-section mt-5 p-4 border rounded bg-light shadow">
    <div class="row align-items-center">
      <div class="col-md-2 text-center mb-3 mb-md-0">
        <a href="https://www.credly.com/badges/0b406a82-1eae-42bd-83be-2a8bf5e5681c/public_url" target="_blank" rel="noopener noreferrer">
          <img alt="MVP Technology PLATINUM" loading="lazy" width="150" height="150" decoding="async" class="img-fluid credly-badge" src="/assets/optimizely-mvp-technology.png">
        </a>
      </div>
      <div class="col-md-10">
        <h3 class="my-3"><i class="fa-solid fa-user-circle me-2"></i>Mark Stott</h3>
        <p class="mb-0">
          A Solutions Architect and Optimizely MVP at Netcel, creator of the <a href="/article/list/stott-security">Stott Security</a> and <a href="/article/list/stott-robots-handler">Stott Robots Handler</a> addons for Optimizely CMS. He shares insights and solutions for modern web development challenges.
        </p>
      </div>
    </div>
  </div>

</div>

{% if page.relatedArticles %}

<div class="container-fluid bg-dark py-3 my-4">
  <div class="container">
    <section>
      <h2 class="mb-3 text-light">Related Articles</h2>
      {% for post in site.posts %}
      {% if page.relatedArticles contains post.path %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Published: {{ post.date | date_to_long_string: "ordinal" }}</h6>
          <p class="card-text">{{ post.description }}</p>
          <a href="{{ post.url }}" class="btn btn-primary me-2">Read more</a>
          {% for category in post.categories %}
            <a href='/article/list/{{ category | downcase | replace: " ", "-" }}' class='btn btn-outline-secondary btn-sm me-2'>{{ category }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
  </section>
  </div>
</div>

{% endif %}